{% extends 'base.html' %}
{% block content %}
    <main class="vh-100">
        <section class="d-flex flex-column h-100 p-4 align-items-center">
            <br>
            <h1>License Plate List</h1>
            <p>The table displays the data of all the vehicle numbers that are stored in the database which are recognized from the video.</p>
            <form id="form" action="/license_plate_list" class="m-2 col-md-12 col-lg-6">
                <div class="input-group w-100">
                    <input type="text" id="search" name="search_query" class="form-control rounded w-100" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                </div>
            </form>
            <br>
            <div class="container p-4">
                <table class="table table-bordered shadow-3 rounded-3 table-hover">
                    <thead class="btn-primary-">
                        <tr>
                            <th>ID</th>
                            <th>License Plate Number</th>
                            <th>Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in license_plates %}
                        <tr>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td><a href="{{row[2]}}"><img src="{{ row[2] }}" alt=""></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </section>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var input = document.getElementById('search');
            input.focus();
            input.value = '{{search_query}}';
          });
        document.getElementById('search').addEventListener('input',(e)=>{
            document.getElementById('form').submit()
        })
    </script>
{% endblock %}

    